
.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.traffic-light-container {
  background-color: #000;
  flex-direction: column;
  border-radius: 8px;
  display: flex;
  padding: 8px;
  gap: 8px;
}

.traffic-light {
  --size: 50px;
  background-color: #555;
  border-radius: var(--size);
  height: var(--size);
  width: var(--size);
}
