body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    background-color: #087ff5;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

/* Main content styles */
main {
    padding: 2em;
}

.card {
    background-color: #FFFFFF;
    padding: 32px;
    margin-bottom: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project h3 {
    margin-top: 0;
}

/* Image section styles */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-gallery img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 1em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #087ff5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em; /* Add margin-top for spacing */
}

form button:hover {
    background-color: #34495e;
}

/* Footer styles */
footer {
    background-color: #087ff5;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Ensure main content does not overlap with footer */
main {
    padding-bottom: 4em; /* Add padding-bottom to main content */
}

#about.card {
    text-align: center;
 }
  
 #projects.card {
    text-align: center;
 }














































